@model AltaSoft.Notifications.DAL.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecretKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecretKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckUserIdUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckUserIdUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFromAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFromAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFromFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFromFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
