@model IEnumerable<AltaSoft.Notifications.DAL.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecretKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckUserIdUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailFromAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailFromFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckUserIdUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailFromAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailFromFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
